<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reconocimiento Facial</title>
  </head>
  <body>
    <h1>Reconocimiento Facial en Tiempo Real</h1>
    <img id="reference-image" style="display:none;" />
    <input type="file" id="file-input" accept="image/*" />
    <button id="load-button">Cargar Imagen de Referencia</button>
    <br />
    <div>
      <canvas id="video-canvas" width="640" height="480"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
